.tlwrapper {
  display: table;
  width: 100%;
}

.timeline {
  display: table-row;
  counter-reset: timeline;
}

.timeline li {
  display: table-cell;
  width: 20%;
  counter-increment: timeline;
  list-style: none;
  text-align: center;
  padding: .25em .5em;
  overflow: hidden;
  position: relative;
  background-color: #fff;
  padding-left: 25px;
  white-space: nowrap;
}

.timeline li:first-child {
  padding-left: 0;
}

.timeline li:after {
  left: 0;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(151, 204, 237, 0);
  border-left-color: #ccc;
  border-width: 20px;
  margin-top: -20px;
}

.timeline li:first-child:after {
  display: none;
}

.timeline li a,
.timeline li>span {
  z-index: 100;
  position: relative;
  display: block;
  color: #555;
  text-decoration: none;
}

.timeline li a:before,
.timeline li>span:before {
  display: inline-block;
  color: #555;
  content: counter(timeline);
  background-color: none;
  border: 3px solid #555;
  margin-right: .25em;
  border-radius: 5px;
  padding: 0 .25em;
}

.timeline li.timeline-current>span,
.timeline li.timeline-current a {
  color: #036;
  font-weight: bold;
}

.timeline li.timeline-current>span:before {
  color: #fff;
  background-color: #036;
  border-color: #036;
}

.timeline li.timeline-past {
  background-color: #ccc;
}

.timeline li.timeline-past a:before {
  color: green;
  content: "\2713";
  background-color: #fff;
  border-color: green;
}

.timeline li.timeline-past a:hover:before,
.timeline li.timeline-past a:focus:before {
  background-color: green;
  color: #fff;
}

.visuallyhidden,
footer h2 {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px
}

.visuallyhidden.hasfocus,
footer h2.hasfocus,
.visuallyhidden.focusable:active,
footer h2.focusable:active,
.visuallyhidden.focusable:focus,
footer h2.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto
}
